.page-layout {
  // width: 50%;
  height: 89.4%;
  // border: 1px solid black;
  .search-result {
    width: 100%;
    .search-field {
      margin-top: 20px;
      width: 50%;
    }

    .result-field {
      height: 90%;
      position: sticky;
      overflow-y: scroll;
    }
  }



  .add-note-button {
    width: 150px;
    margin-bottom: 15px;
  }
}
